
<h1>Listing Tweets</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Tweeted By</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= link_to( "#{tweet.title}", tweet ) %></td>
        <td><%= tweet.body %></td>
        <td><%= link_to( "#{tweet.user.name}", user_path(tweet.user)) %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) if tweet.user == @current_user %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } if tweet.user == @current_user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-default" if user_logged_in? %>
