
<p>
  <strong>Name:</strong> <%= @user.name %> <strong>Username:</strong> <%= @user.username %>
</p>

<p><strong><%= @user.name %>'s Tweets:</strong></p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @user.tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.title %></td>
        <td><%= tweet.body %></td>
        <td><%= tweet.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
<%= link_to 'Back', users_path, class: "btn btn-default" %>
