<!DOCTYPE html>
<html>
  <head>
    <title>TwitterCloneSecure</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'shared/header' %>
      <%= alert %>
      <% if @current_user %>
        <p>Hello <%= @current_user.name %></p>
      <% end %>

      <p id="notice"><%= notice %></p>
      <%= yield %>

      <% if !user_logged_in? %>
      <%= link_to("Login", login_path, class: "btn btn-default") %>
      <% else %>
      <%= link_to("LOGOUT", logout_path, method: :DELETE, class: "btn btn-default" ) if user_logged_in? %>
      <% end %>
      <footer>
        <%= params.inspect if Rails.env.development? %>
        <%= @current_user.inspect if Rails.env.development? %>
      </footer>
    </div>
  </body>
</html>
